<h1 class="headinger"> <%= "#{team.name}" %>
  <% if current_user.id == team.user_id %>
    <span>
      <%= link_to team_path(team), remote: true, method: :delete, data: { confirm: 'Going forward will delete this team. Are you sure you want continue?'}, class: 'team-btn' do %>
        <%= image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/48/delete-icon.png") %>
      <% end %>
    </span>
  <% end %>
<h1>

<h2> Members: </h2>
  <ol>
    <h3 class="indent">
      <% team.users.each do |user| %>
        <% if user.id == team.user_id %>
          <li>
            <span class="create-tab leader-badge">
              <%= link_to user.name, user_path(user) %>
              <img src="https://cdn0.iconfinder.com/data/icons/awards-7/500/award_bravery--512.png" alt="Leader Image" />
              <span class="small-text"><i><%= "#{user.tabs.count} contributions" %></i></span>
            </span>


          </li>

        <% else %>
          <li>
            <%= link_to user.name, user_path(user) %>
            <span class="small-text"><i><%= "#{user.tabs.count} contributions" %></i></span>
          </li>
        <% end %>
      <% end %>
    </h3>
  </ol>

<h2> Trees: </h2>
