<h1 class="headinger"> <%= "#{team.name}" %>
  <% if current_user.id == team.user_id %>
    <span>
      <%= link_to team_path(team), remote: true, method: :delete, data: { confirm: 'Going forward will delete this team. Are you sure you want continue?'}, class: 'team-btn' do %>
        <%= image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/48/delete-icon.png") %>
      <% end %>
    </span>

    <span class="captainship">
      <%= form_tag(team_path, method: "put", id: "captain-form") do %>
        <%= label_tag "transfer captainship" %>

        <%= select_tag(:user_id, options_from_collection_for_select(team.team_members, :id, :name)) %>
        <%= submit_tag("Submit", id: "submit", name: nil, class: "button-primary") %>
      <% end %>
    </span>

  <% end %>
<h1>

<h2> Members: </h2>
  <ol>
    <h3 class="indent">
      <li>
        <span class="create-tab leader-badge">
          <%= link_to team.user.name, user_path(team.user) %>
          <img src="https://cdn0.iconfinder.com/data/icons/awards-7/500/award_bravery--512.png" alt="Leader Image" title="Team Captain" />
          <span class="small-text"><i><%= "#{team.user.tabs.count} contributions" %></i></span>
        </span>
      </li>
      <% team.team_members.order(:name).each do |user| %>
        <li>
          <%= link_to user.name, user_path(user) %>


          <% if current_user.id == team.user_id %>
            <span>
              <%= link_to member_path(user.members.find_by(team_id: team.id)), remote: true, method: :delete, data: { confirm: 'Are you sure you want to delete this member?'}, class: 'team-btn' do %>
                <%= image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/48/delete-icon.png", title: "Delete Member") %>
              <% end %>
            </span>
          <% end %>



          <span class="small-text"><i><%= "#{user.tabs.count} contributions" %></i></span>
        </li>
      <% end %>
    </h3>
  </ol>

  <div class="create-tab add-del-edit add">
    <%= link_to new_member_path(team_id: team.id), class: 'btn add-del-edit add' do %>
      <%= image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/48/add-icon.png", title: "Add New Member") %>
    <% end %>
  </div>

<h2> Trees: </h2>

<p> <%= link_to "Leave Team", member_path, remote: true, method: :delete, data: { confirm: 'Are you sure you want to delete this member?' }, class: 'team-btn' %> </p>
