<div id="clearance" class="sign-up">
  <h1 class="headinger"> Edit <%= current_user.name %>'s Account  </h1>

  <div class="errors">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <% flash.now[:alert] = msg %>
      <% end %>
    </ul>
  </div>

  <%= form_for @user do |form| %>
    <div class="text-field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="text-field">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email' %>
    </div>

    <div class="password-field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="password-field">
      <%= form.label "Confirm Password" %>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="submit-field">
      <%= form.submit "Submit", class: 'button-primary'%>
    </div>

  <% end %>
</div>
