<h1 class="headinger"> <%=  "#{user.name.capitalize}'s profile:"  %>

<h2> Teams: </h2>
<% if user.teams.any? %>
  <ol>
    <h4 class="indent">
      <% user.teams.each do |team| %>
        <li>
          <%= link_to team.name, team_path(team) %>
          <span class="small-text"><i><%= "#{user.tabs.count} contributions" %></i></span>
        </li>
      <% end %>
    </h4>
  </ol>
<% else %>
  <h4 class="indent"> None </h4>
<% end %>

<h2> <%= "#{user.name.capitalize}'s stats" %>
  <ul class="indent">
    <li class="medium-text"> Total Trees: <%= user.trees.count %> </li>
    <li class="medium-text"> Total Tabs: <%= user.tabs.count %> </li>
  </ul>
</h2>
