<h1 class="headinger"> <%=  "#{user.name.capitalize}'s profile"  %>

<h2> Projects: </h2>
<% if user.projects.any? %>
  <ol>
    <h4 class="indent">
      <% user.projects.each do |project| %>
        <% if current_user.id == project.user_id %>
          <li>
            <span class="create-tab leader-badge">
            <%= link_to project.name, project_path(project), title: project.name %>
            <img src="https://cdn0.iconfinder.com/data/icons/awards-7/500/award_bravery--512.png" alt="Leader Image" title="Project Captain" />
            <span class="small-text"></span>
            <span class="small-text"><i><%= "#{pluralize(project.users.count, 'member')}" %></i></span>
          </li>
        <% else %>
          <li>
            <%= link_to project.name, project_path(project), title: project.name %>
            <span class="small-text"><i><%= "#{project.users.count} members" %></i></span>
          </li>
        <% end %>
      <% end %>
    </h4>
  </ol>
<% else %>
  <h4 class="indent"> None </h4>
<% end %>

<h2> <%= "#{user.name.capitalize}'s stats" %>
  <ul class="indent">
    <li class="medium-text"> Total Trees: <%= user.trees.count %> </li>
    <li class="medium-text"> Total Tabs: <%= user.tabs.count %> </li>
  </ul>
</h2>


<div class="edit-name">
  <% if user == current_user %>
    <%= link_to "Edit Name", edit_user_path(user) %>
  <% end %>
</div>

<div class="delete-account">
  <% if user == current_user %>
    <%= link_to "Delete Account", user_path(user), method: :delete, data: { confirm: 'Clicking Yes will delete your account. Are you sure you want continue?'} %>
  <% end %>
</div>
