<%#= react_component("Buttons", obj: obj) %>
<h5 class="url-link"><%= link_to obj.name, url_with_protocol(obj.url) %></h5>

<span>
  <%= link_to edit_tab_path(obj), class: 'btn add-del-edit edit', title: "Edit Tab" do %>
    <%= image_tag("http://icons.iconarchive.com/icons/designcontest/vintage/72/Pencil-icon.png") %>
  <% end %>
</span>

<span class="create-tab add-del-edit add">
  <%= link_to new_tab_path(parent_tab_id: obj.id), class: 'btn add-del-edit add', title: "New Child Tab" do %>
    <%= image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/48/add-icon.png") %>
  <% end %>
</span>

<span>
  <%= link_to tab_path(obj, parent_tab_id: params[:parent_tab_id]), method: :delete, data: { confirm: 'Clicking OK will delete this tab! Are you sure you want to delete this tab?'}, class: 'btn add-del-edit del', title: "Delete Tab" do %>
    <%= image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/48/delete-icon.png") %>
  <% end %>
</span>
