<%= form_for(Tab.new) do |f| %>
  <%= f.hidden_field :parent_tab_id, value: obj.id %>
  <%= f.hidden_field :tree_id, value: obj.tree_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <%= f.submit class: "button-primary"%>
<% end %>
