<h5 class="url-link"><%= link_to truncate(child.name, length: 38), url_with_protocol(child.url) %></h5>

<%= react_component("Delete", child: child, includesProject: request.path.include?("project")) %>

<div class="creation">

  <%= form_for(Tab.new) do |f| %>
    <%= f.hidden_field :parent_tab_id, value: child.id %>
    <%= f.hidden_field :tree_id, value: params.fetch(:tree_id, nil) %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>

    <%= f.submit class: "button-primary"%>
  <% end %>
</div>
