<div class="checkboxes">
  <%= check_box_tag(:checkuser, '1', params[:checkuser]) %>
  <%= label_tag(:checkuser, "user") %>

  <%= check_box_tag(:checkcat, '1', params[:checkcat]) %>
  <%= label_tag(:checkcat, "category") %>

  <%= check_box_tag(:checkname, '1', params[:checkname]) %>
  <%= label_tag(:checkname, "name") %>

  <%#= check_box_tag(:checktag, '1', params[:checktag]) %>
  <%#= label_tag(:checktag, "tag") %>
</div>
