<%= form_for(tree) do |f| %>

  <div class="errors">
    <ul>
      <% tree.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

  <% if tree.persisted? %>
    <%= f.hidden_field :archived, value: tree.archived %>
  <% else %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :archived, value: false %>
  <% end %>

  <% if params[:project_id] %>
    <%= f.hidden_field :project_id, value: params[:project_id] %>
  <% end %>

  <div class="field">
    <%= f.label "Tree Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="waves-effect waves-light btn">
    <%= f.submit class: "button-primary"%>
  </div>

<% end %>
