<%= form_for(tree) do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= f.label "Tree Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="waves-effect waves-light btn">
    <%= f.submit class: "button-primary"%>
  </div>

<% end %>
