<%= form_for(tree) do |f| %>

  <div class="field">
    <label for="user_id">User: </label>
    <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="waves-effect waves-light btn">
    <%= f.submit %>
  </div>

<% end %>
