<div class="grove">
    <% tabs.each do |child| %>
      <% if child.tree_id == tree.id %>

        <div class="trunk" id="root">
          <div class="leaf">
            <p class="clicker" id="srch"> <%= truncate(child.name, length: 9) %></p>
            <div class="editor">
              <%= render "shared/rechild_extra.html.erb", child: child %>
            </div>
          </div>

            <div class="big-block">
              <% child.children.each do |child| %>
                  <div class="branch">
                    <div class="leaf">

                      <p class="clicker" id="srch"> <%= truncate(child.name, length: 9) %></p>
                      <div class="editor">
                        <%= render( partial: 'shared/rechild_extra', locals: { child: child }) %>
                      </div>
                    </div>
                    <%= render( partial: 'shared/rechild', locals: { children: child.children }) if child.children %>
                  </div>
              <% end %>


            </div>
          </div>
        <% end %>
  <% end %>
</div>
