<div class="grove">
  <% tabs.each do |tab| %>
    <% if tab.tree_id == tree.id %>
      <div class="trunk" id="root">
        <div class="leaf">

          <p class="clicker" id="srch"> <%= truncate(tab.name, length: 9) %></p>
          <div class="editor">
            <%= render "shared/buttons_tabs.html.erb", obj: tab %>
            <div class="creation">
              <%= render "shared/create_tab.html.erb", obj: tab %>
            </div>
          </div>

        </div>

          <div class="big-block">
            <% tab.children.each do |child| %>

                <div class="branch">
                  <div class="leaf">

                    <p class="clicker" id="srch2"> <%= truncate(child.name, length: 9) %></p>
                    <div class="editor">
                      <%= render "shared/buttons_tabs.html.erb", obj: child %>
                      <div class="creation">
                        <%= render "shared/create_tab.html.erb", obj: child %>
                      </div>
                    </div>

                  </div>
                  <%= render( partial: 'shared/rechild', locals: { children: child.children }) if child.children %>
                </div>
          <% end %>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
