<div class="row">
  <h1 class="headinger"> <%= tree.name %>
    <small class="btn sup-edit editor">
      <%= link_to edit_tree_path(tree), class: 'btn add-del-edit', title: "Edit Tree" do %>
        <%= image_tag("http://icons.iconarchive.com/icons/designcontest/vintage/72/Pencil-icon.png") %>
      <% end %>
    </small>
    <small class="btn sup-edit editor">
      <%= link_to tree_path(tree), remote: true, method: :delete, data: { confirm: 'Are you sure you want to delete this tree?'}, class: 'btn add-del-edit', title: "Delete Tree" do %>
        <%= image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/48/delete-icon.png") %>
      <% end %>
    </small>
    <% unless tree.tabs.any? %>
    <div class="trunk-empty" id="root">
      <small class="btn leaf-new">
        <%= link_to "New Tab", new_tab_path(tree_id: tree.id), class: 'btn add-del-edit new-small' %>
        <%= link_to new_tab_path(tree_id: tree.id), class: 'btn add-del-edit new-small', title: "Begin Your Tree!" do %>
          <%= image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/48/add-icon.png") %>
        <% end %>
      </small>
    </div>
    <% end %>
  </h1>

  <% tree.tabs.each do |tab| %>

    <% if tab.parent.nil? %>
      <div class="trunk" id="root">
        <h3 class="btn leaf"><%= link_to truncate(tab.name, length: 12), url_with_protocol(tab.url) %>
          <div class="editor">
            <%= render "shared/buttons_tabs.html.erb", obj: tab %>
            <div class="creation">
              <%= render "shared/create_tab.html.erb", obj: tab %>
            </div>
          </div>
        </h3>

        <div class="big-block">

          <% tab.children.each do |child| %>
              <div class="branch">
                <h3 class="btn leaf"><%= link_to truncate(child.name, length: 12), url_with_protocol(child.url) %>
                  <div class="editor">
                    <%= render "shared/buttons_tabs.html.erb", obj: child %>
                    <div class="creation">
                      <%= render "shared/create_tab.html.erb", obj: child %>
                    </div>
                  </div>
                </h3>

                  <% ########### Recursion! ##### %>

                  <%= render( partial: 'rechild', locals: { children: child.children }) if child %>

                  <% ########### /Recursion! ##### %>
              </div>
          <% end %>

        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
