<h1 class="headinger"> Your Projects </h1>
<ol>
  <h3 class="indent">
    <% current_user.projects.order("LOWER(name)").each do |project| %>
      <% if current_user.id == project.user_id %>
        <li>
          <span class="create-tab leader-badge">
          <%= link_to project.name, project_path(project), title: project.name %>
          <img src="https://cdn0.iconfinder.com/data/icons/awards-7/500/award_bravery--512.png" alt="Leader Image" title="You're the Project Captain on this Project!" />
          <span class="small-text"></span>
          <span class="small-text"><i><%= "#{project.users.count} members" %></i></span>
      <% else %>
        <li><%= link_to project.name, project_path(project), title: project.name %>
        <span class="small-text"><i><%= "#{project.users.count} members" %></i></span></li>
      <% end %>
    <% end %>
  </h3>
</ol>

<%= link_to "New Project", new_project_path %>
