<h1 class="headinger"> <%= "#{project.name}" %>
  <% if current_user.id == project.user_id %>
    <span>
      <%= link_to edit_project_path(project), class: 'btn add-del-edit edit', title: "Edit Project Name" do %>
        <%= image_tag("http://icons.iconarchive.com/icons/designcontest/vintage/72/Pencil-icon.png") %>
      <% end %>
    </span>

    <span>
      <%= link_to project_path(project), remote: true, method: :delete, data: { confirm: 'Going forward will delete this project. Are you sure you want continue?'}, class: 'project-btn', title: "Delete Project" do %>
        <%= image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/48/delete-icon.png") %>
      <% end %>
    </span>

    <span class="captainship">
      <%= form_tag(captain_project_path, method: "put", id: "captain-form") do %>
        <%= label_tag "transfer captainship" %>
        <%= select_tag(:user_id, options_from_collection_for_select(project.project_members, :id, :name)) %>
        <%= submit_tag("Submit", id: "submit", name: nil, class: "button-primary") %>
      <% end %>
    </span>

  <% end %>
<h1>

<h2> Members: </h2>
  <ol>
    <h3 class="indent">
      <li>
        <span class="create-tab leader-badge">
          <%= link_to project.user.name, user_path(project.user) %>
          <img src="https://cdn0.iconfinder.com/data/icons/awards-7/500/award_bravery--512.png" alt="Leader Image" title="Project Captain" />
          <span class="small-text"><i><%= "#{project.user.tabs.count} contributions" %></i></span>
        </span>
      </li>
      <% project.project_members.order("LOWER(name)").each do |user| %>
        <li>
          <%= link_to user.name, user_path(user) %>


          <% if current_user.id == project.user_id %>
            <span>
              <%= link_to boot_member_path(user.members.find_by(project_id: project.id)), remote: true, method: :delete, data: { confirm: 'Are you sure you want to delete this member?'}, class: 'project-btn' do %>
                <%= image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/48/delete-icon.png", title: "Delete Member") %>
              <% end %>
            </span>
          <% end %>



          <span class="small-text"><i><%= "#{user.tabs.count} contributions" %></i></span>
        </li>
      <% end %>
    </h3>
  </ol>

  <div class="create-tab add-del-edit add">
    <%= link_to new_member_path(project_id: project.id), class: 'btn add-del-edit add' do %>
      <%= image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/48/add-icon.png", title: "Add New Member") %>
    <% end %>
  </div>

<p> <%= link_to "Leave Project", leave_member_path, remote: true, method: :delete, data: { confirm: 'Are you sure you want to leave this project?' }, class: 'project-btn' %> </p>

<h2> Trees: </h2>
