<%= form_for(tab) do |f| %>

  <div class="errors">
    <ul>
      <% tab.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field tab-tree">
    <% if tab.persisted? %>
      <% if tab.parent %>
        <div class="tree-select">
          <label for="tree_id">Tree: </label>
          <%= f.select :tree_id, options_from_collection_for_select(Tree.all, :id, :name, selected: tab.tab_root.id) %>
        </div>
        <div class="tab-select">
          <label for="tree_id">Tab: </label>
          <%= f.select :parent_tab_id, options_from_collection_for_select(Tab.where(tree_id: tab.tab_root.id), :id, :name, selected: tab.parent.id) %>
        </div>
      <% end %>
    <% else %>
      <%= f.hidden_field :tree_id, value: params.fetch(:tree_id, tab.tree_id) %>
      <%= f.hidden_field :parent_tab_id, value: params.fetch(:parent_tab_id, tab.parent_tab_id) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="button-primary">
    <%= f.submit class: "button-primary"%>
  </div>

<% end %>
