
<% if tree %>
  <h1 class="headinger"> Create The First Tab! </h1>
  <div class="row new-tree">
    <div class="creation-field">
      <%= render 'form', tab: tab %>
    </div>
  </div>
<% elsif taboo %>
  <h1 class="headinger"> New Tab Under <%= "'#{taboo.name.capitalize}'" %> </h1>

  <div class="row new-tree">
    <div class="creation-field">
      <%= render 'form', tab: tab %>
    </div>

<div class="mini-tree"> <h4>Mini-Tree for <%= "#{taboo.name.capitalize}" %></h4>
  <div class="back-block">
    <div class="grove">
      <div class="trunk" id="root">
        <div class="leaf">
          <p class="clicker" id="srch"> <%= truncate(taboo.name, length: 12) %></p>
          <div class="editor">
            <%= render( partial: 'shared/rechild_extra', locals: { child: taboo }) %>
          </div>
        </div>

        <div class="big-block">

          <% taboo.children.each do |child| %>
              <div class="branch">
                <div class="leaf">
                  <p class="clicker" id="srch"> <%= truncate(child.name, length: 9) %></p>
                  <div class="editor">
                    <%= render( partial: 'shared/rechild_extra', locals: { child: child }) %>
                  </div>
                </div>
                  <%= render( partial: 'shared/rechild', locals: { children: child.children }) if child %>
              </div>
          <% end %>

        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
