
<% if tree %>
  <h1 class="headinger"> Create The First Tab!" </h1>
  <div class="row new-tree">
    <div class="creation-field">
      <%= render 'form', tab: tab %>
    </div>
  </div>
<% elsif taboo %>
  <h1 class="headinger"> New Connection Under <%= "'#{taboo.name.capitalize}'" %> </h1>

  <div class="row new-tree">
    <div class="creation-field">
      <%= render 'form', tab: tab %>
    </div>

<div class="mini-tree"> <h4>Mini-Tree</h4>
  <div class="back-block">
    <div class="grove">
      <div class="trunk" id="root">
        <div class="leaf">
          <p class="clicker" id="srch"> <%= highlight(truncate(taboo.name, length: 9), params[:parent_tab_id]) %></p>
          <div class="editor">
            <%= render "shared/buttons_tabs.html.erb", obj: taboo %>
            <div class="creation">
              <%= render "shared/create_tab.html.erb", obj: taboo %>
            </div>
          </div>
        </div>

        <div class="big-block">

          <% taboo.children.each do |child| %>
              <div class="branch">
                <div class="leaf">
                  <p class="clicker" id="srch"> <%= highlight(truncate(child.name, length: 9), params[:parent_tab_id]) %></p>
                  <div class="editor">
                    <%= render "shared/buttons_tabs.html.erb", obj: child %>
                    <div class="creation">
                      <%= render "shared/create_tab.html.erb", obj: child %>
                    </div>
                  </div>
                </div>

                  <% ########### Recursion! ##### %>

                  <%= render( partial: 'shared/rechild', locals: { children: child.children }) if child %>

                  <% ########### /Recursion! ##### %>
              </div>
          <% end %>

        </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>
