<!DOCTYPE html>
<html>
  <head>
    <title>ReRoot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Oxygen" rel="stylesheet">

  </head>

  <body>
    <%= render "shared/nav.html.erb" unless @disable_nav %>
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <div class="container">
      <section class='content'>
        <%= yield %>
      </section>
    </div>
    <footer>
      <small>ReRoot © Matt Rice Studios</small>
    </footer>
  </body>
</html>
