<!DOCTYPE html>
<html>
  <head>
    <title>TabTree</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <section class='content'>
      <%= yield %>
    </section>
    <footer>
      <small>Tabasaurus Rex © Matt Rice Studios</small>
    </footer>
  </body>
</html>
