<!DOCTYPE html>
<html>
  <head>
    <title>TabTree</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= render "shared/nav.html.erb" unless @disable_nav %>

    <div class="container">
      <section class='content'>
        <%= yield %>
      </section>
    </div>
    <footer>
      <small>Tabasaurus Rex © Matt Rice Studios</small>
    </footer>
  </body>
</html>
