<%= form_for(member) do |f| %>

  <div class="errors">
    <ul>
      <% member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

  <%= f.hidden_field :team_id, value: params[:team_id] %>


  <label for="user_id">Select User: </label>
  <div class="select-user"><%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %></div>

  <div class="button-primary">
    <%= f.submit class: "button-primary"%>
  </div>

<% end %>
